CHANNEL_WEBHOOK_SECRET=
DATABASE_URL=
ENCRYPTION_KEY=
FRONTEND_URL=
JWT_ACCESS_EXPIRES_IN=
JWT_ACCESS_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_SECRET=
MOBILE_JWT_EXPIRES_IN=
MYSQL_DATABASE=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
REDIS_HOST=
REDIS_PORT=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SMS_FROM=
TWILIO_WHATSAPP_FROM=
VITE_API_URL=